@import url(style.css);
@import url(style_newGrupo.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*{
    margin: 0;
    padding: 0;
}

.background-img{
    background-image: url("../img/img-body.jpg");
    background-position: center;
    background-size: 100% 85%;

}
     
header{
    height: 9%;
    width: 100%;
    background-color: #2E2E2E;
}
  
.menu{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
   
}
.categorias:hover{
    background: #FE2E64;
    outline-style:ridge;
    border-radius: 4px;
}


.menu ul{
    width: 100%;
    list-style: none;
    display: flex;
    background-color: #2E2E2E;
}

.menu ul li{
    width: 17%;
}
.menu ul li ul{
    flex-wrap: wrap;
}

.menu ul li .li-hardware{
    width: 30%;
}

.menu .categorias{
    display: block;
    padding: 1.4em;
    color: aliceblue;
    text-decoration: none;
}

.menu ul ul{
     position: absolute;
     display: none;
     background-color: #424242;
}

.menu .icon-angle-down{
    float: right;
    font-weight: bold;
    font-size: 18px;
}

header label{
    display: none;
}

#btn-menu{
    display: none;
}

.menu .buscador{
    margin: 10px;
}

.menu .input{
    box-shadow: inset 0px 3px 3px; 
    color: #fff;
    border: 1px solid black;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    padding: 10px 10px 10px 25px;
}

.menu .icon-search{
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    position: absolute;
    color: aliceblue;
}

.menu .input:focus{
    background-color: #fff;
}



/*****************************Contenedor-main*****************************/
.contenedor-main{
    transform: translateY(3%);
    margin: auto;
    width: 80%;
    margin-bottom: 7%;
}

.info{
     display: flex;  
}

.info-columna{
  margin: 5px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 15px;
}

img{
    max-width: 100%;
}

.info__titulo{
     text-decoration: none;
     color: darkmagenta;
}

a{
     text-decoration: none;
}

/*******************main contenedor login*******************/


.contenedor-login{
    margin: 18px auto;
    width: 40%;
    transform: translateY(10%);
    margin-bottom: 17%;
}


.formulario-login{
    color: #fff;    
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.titulo{
    font-size: 2em;
    text-align: center;
    height: 7%;
}


.login-main{
    margin-left: 19%;
    width: 60%;
    padding: 8px;
    margin-bottom: 7%;
}

.contenedor-login .enviar{
    margin-left: 30%;   
    width: 40%;
    height: 5%;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 7%;
    background-color: darkorange;
    color: #fff;
    font-size: 1em;
}
/*************main contenedor blog*************/
.contenedor-blog{
    margin: auto;
    width: 80%;
    
}

.titulo-blog{
    text-align: center;
    color: #fff;
}

.info-blog{
    font-size: 1.2em;
    color: darkorange;
}



/********************footer********************/
.footer{
    width: 100%;
    color: #fff;
    background: #000;
}

.contenedor-footer{
    display: flex;
    justify-content: center;
}

.iconos:hover{
    background: darkorange;
}

.iconos{
    padding: 7px 0px; 
    border-radius: 10px;
    transition: background  0.8s linear 0.4s;
}

.icon-facebook,.icon-twitter,.icon-instagram{
    text-align: center;
    margin: 30px;
    font-size: 300%;
    color: #fff;
}

.copy{
    word-spacing: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}
