* {
  box-sizing: border-box;
}

.Registro {
  padding: 0;
  margin: 0;
  background: #006064;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.form {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 7px;
}

.form h2 {
  padding: 20px;
  background: #78909C;
  color: #fff;
  text-align: center;
  font-weight: 100;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 2px solid crimson;
  margin-bottom: 10px;
}

.form .contenedor {
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid darkgray;
}

.form .media {
  width: 48%;
}

.form .media-m {
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
}

.form .btn {
  margin: auto;
  width: 40%;
  padding: 10px 4px;
  border-top: 50px;
  background: #1B5E20;
  color: #fff;
  font-size: 16px;
}

.btn:hover{
    cursor: pointer;
}
