
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-size: 15px;
    font-family: "Roboto Slab", serif; 
}

.contenedorForm{
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px #333;
    box-shadow: 0px 0px 2px #333;
}

.container-from{
    width: 100%;
    padding: 100px;
    margin: auto;
}

.div-form{
    position: relative;
    margin-bottom: 25px;
}

.div-form input[type='text'],
          input[type='file']{
    font-family: "Roboto Slab", serif;        
    font-size: 13px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #c51162;  
}

textarea{
    resize: vertical;
    max-height: 250px;
    font-family: "Roboto Slab", serif;        
    font-size: 13px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid #c51162;
}

.file{
     overflow: hidden;    
}

.active:focus{
    color: #9c27b0;
    border: 2px solid #9c27b0;
}

.activeText:focus{
    color: #9c27b0;
    border: 2px solid #9c27b0;
}

.btn-grupo{
    display: flex;
    width: 50%;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    font-family: "Roboto Slab", serif; 
    text-align: center;
    background: #c51162;
    border: none;
    color: #fff;
}

.btn-grupo:hover{
    cursor: pointer;
    text-transform:uppercase;
    transform: scale(1.1);
    transition: all 250ms ease;
}

.error{
    color: #d50000;
    outline: none;
    border: 2px solid #d50000;
}

.errores_formulario{
    width: 100%;
    margin: 10px;
    padding: 2em;
    background: rgba(244, 43, 52, 0.7);
    color: #e8eaf6;
}

.creado{
    width: 100%;
    margin: 10px;
    padding: 2em;
    background: rgba(29, 176, 52, 0.7);
    color: #e8eaf6;
}